$pop-color: #ADA4A5;
$box-width: 375px;
$box-height:812px;
$box-color:#ffffff;
$box-border:40px;
$pop-size: 12px;
$pop-weight: 400;

// imput
@mixin input-style () {
    width:315px;
    height:48px;
    background-color:#F7F8F8;
    border-radius:14px;
    outline: none;
    border: none;
    gap: 20px;
}


// button
@mixin button-style (){
    width:315px;
    height:60px;
    border-radius:99px;
    background-color:#92A3FD;
    border:none;

}




body{
    background-color: #BFDBE9;
}

.box{
    width:$box-width;
    height: $box-height;
    background-color: $box-color;
    border-radius: $box-border;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;


    .foto{
    width: 268px;
    height: 268px;
    top: 45px;
    left: 54p x;
    }

    .input1{
        width: 315px;
        height: 237px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 15px 0 0;

        .img{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            margin-left: 15px;
            font-size: $pop-size;
            font-weight: $pop-weight;
            color: $pop-color;
            gap: 8px;
        }

        input{
           @include input-style ();

        }
        .span1{
            width: 315px;
            height: 48px;
        }
        .span1 input{
            width: 252px;
            height: 48px;
            border-radius: 14px;
        }
        .span1 button{
            width: 48px;
            height: 48px;
            border-radius: 14px;
            background: linear-gradient(#EEA4CE, #C58BF2);
            border: none;
            outline: none;
        }
        
    }
    .text{
        width: 272px;
        height: 53px;
        

        h1{
            font-size: 20px;
            font-weight: 700;
            color: #1D1617;
            text-align: center;
        }
        p{
            font-size: $pop-size;
            font-weight: $pop-weight;
            text-align: center;
            color: $pop-color;
        }
    }
    .button{
        button{
            width: 315px;
            height: 60px;
            border-radius: 99px;
            background: linear-gradient(to right, #9DCEFF, #92A3FD);
            border-radius: 99px;
            border: none;
            box-shadow: 0 0 2px 2px #95ADfe4d;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #ffffff;
        }
        .but span{
            display: flex;
            justify-content: center;
        }
    }
}